* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --main-transition: 0.3s;
  --color-1: #0075ff;
  --color-2: #f59e0b;
  --color-3: #22c55e;
  --color-twitter: #1da1f2;
  --color-facebook: #1877f2;
  --color-youtube: #ff0000;
  --color-linkedin: #0077b5;
}
.active {
  background-color: #f6f6f6;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
input,
button {
  outline: none;
}
textarea {
  outline: none;
}
p {
  color: #666;
  text-transform: capitalize;
}
h2 {
  text-transform: capitalize;
  margin-bottom: 10px;
}
body {
  background-color: #f1f5f9;
}
.files {
  display: flex;
  overflow: hidden;
}
aside {
  background-color: white;
  width: 250px;
  padding: 20px;
  min-height: 100vh;
  box-shadow: 5px 0 10px #ddd;
  position: relative;
  text-transform: capitalize;
  font-size: 14px;
}
aside h3 {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  font-weight: bold;
  font-size: 20px;
}
aside h3::before {
  content: "";
  width: 90px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}
aside h3::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  border: 5px solid white;
}
aside ul {
  margin-top: 40px;
}
aside ul li a {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  transition: var(--main-transition);
}
aside ul li:hover a {
  background-color: #f6f6f6;
}
aside ul li i {
  margin-right: 10px;
}
.content {
  overflow: hidden;
  width: 100%;
}
.content nav img {
  width: 40px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}
.search {
  position: relative;
}
.search i {
  position: absolute;
  bottom: 12px;
  left: 6px;
  color: #bbb;
}
.search input {
  padding: 10px 26px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 140px;
  transition: var(--main-transition);
}
.search input:focus {
  width: 190px;
}
.search input::placeholder {
  font-size: 12px;
}
.search input:focus::placeholder {
  color: transparent;
}
.notifcation {
  display: flex;
  align-items: center;
}
.notifcation i {
  font-size: 20px;
  margin-right: 10px;
  position: relative;
}
.notifcation i::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-youtube);
  position: absolute;
  border-radius: 50%;
  top: -6px;
  left: 18px;
}
h1 {
  text-transform: capitalize;
  position: relative;
  margin: 20px 20px 40px !important;
}
h1::before {
  content: "";
  position: absolute;
  width: 165px;
  height: 3px;
  background-color: white;
  bottom: -10px;
  border-radius: 10px;
}
h1::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: -10px;
  background-color: black;
  left: 0;
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: row-reverse;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 20px;
  margin: 20px;
}
@media (max-width: 767px) {
  aside {
    width: 58px;
    padding: 8px;
  }
  aside h3 {
    font-size: 15px;
    font-weight: bold;
  }
  aside h3::before,
  aside h3::after {
    display: none;
  }
  aside li span {
    display: none;
  }
  .content .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
  .content .container {
    display: block;
  }
}
.sidebar {
  background-color: white;
  padding: 20px;
  margin: 20px 20px 20px 0;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  text-transform: capitalize;
}
.big-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  line-height: 1.8;
}
.big-file .text {
  flex: 1;
  margin-left: 10px;
}
.pdf .icon {
  background-color: rgba(0, 117, 255, 0.3);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-1);
  font-size: 25px;
}
.img .icon {
  background-color: rgba(34, 197, 94, 0.3);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-3);
  font-size: 25px;
}
.word .icon {
  background-color: rgba(255, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-youtube);
  font-size: 25px;
}
.csv .icon {
  background-color: rgba(245, 158, 11, 0.3);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-2);
  font-size: 25px;
}
.sidebar .upload {
  color: white;
  text-transform: capitalize;
  width: fit-content;
  margin: auto;
  background-color: var(--color-1);
  padding: 15px 20px;
  display: block;
  border: none;
  border-radius: 10px;
  font-size: 14px;
}
.sidebar .upload:hover i {
  animation: upload 1s infinite ease-in-out;
}
@keyframes upload {
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.file {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  font-size: 15px;
}
.file .file-img {
  text-align: center;
}
.file img {
  width: 80px;
  transition: var(--main-transition);
  margin-bottom: 10px;
}
.file:hover img {
  transform: rotate(6deg);
}
.file p {
  margin: 10px 0;
}
.file p + div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #c9c9c9;
  padding-top: 10px;
}
