* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --main-transition: 0.3s;
  --color-1: #0075ff;
  --color-2: #f59e0b;
  --color-3: #22c55e;
  --color-twitter: #1da1f2;
  --color-facebook: #1877f2;
  --color-youtube: #ff0000;
  --color-linkedin: #0077b5;
}
.active {
  background-color: #f6f6f6;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
input,
button {
  outline: none;
}
textarea {
  outline: none;
}
p {
  color: #666;
  text-transform: capitalize;
}
h2 {
  text-transform: capitalize;
  margin-bottom: 10px;
}
body {
  background-color: #f1f5f9;
}
.projects {
  display: flex;
  overflow: hidden;
}
.content {
  overflow: hidden;
  width: 100%;
}
aside {
  background-color: white;
  width: 200px;
  padding: 20px;
  min-height: 100vh;
  box-shadow: 5px 0 10px #ddd;
  position: relative;
  text-transform: capitalize;
  font-size: 14px;
}
aside h3 {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  font-weight: bold;
  font-size: 20px;
}
aside h3::before {
  content: "";
  width: 90px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}
aside h3::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  border: 5px solid white;
}
aside ul {
  margin-top: 40px;
}
aside ul li a {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  transition: var(--main-transition);
}
aside ul li:hover a {
  background-color: #f6f6f6;
}
aside ul li i {
  margin-right: 10px;
}
.content nav img {
  width: 40px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}
.search {
  position: relative;
}
.search i {
  position: absolute;
  bottom: 12px;
  left: 6px;
  color: #bbb;
}
.search input {
  padding: 10px 26px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 140px;
  transition: var(--main-transition);
}
.search input:focus {
  width: 190px;
}
.search input::placeholder {
  font-size: 12px;
}
.search input:focus::placeholder {
  color: transparent;
}
.notifcation {
  display: flex;
  align-items: center;
}
.notifcation i {
  font-size: 20px;
  margin-right: 10px;
  position: relative;
}
.notifcation i::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-youtube);
  position: absolute;
  border-radius: 50%;
  top: -6px;
  left: 18px;
}
h1 {
  text-transform: capitalize;
  position: relative;
  margin: 20px 20px 40px !important;
}
h1::before {
  content: "";
  position: absolute;
  width: 165px;
  height: 3px;
  background-color: white;
  bottom: -10px;
  border-radius: 10px;
}
h1::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: -10px;
  background-color: black;
  left: 0;
  border-radius: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin: 0 20px;
}
@media (max-width: 767px) {
  aside {
    width: 58px;
    padding: 8px;
  }
  aside h3 {
    font-size: 15px;
    font-weight: bold;
  }
  aside h3::before,
  aside h3::after {
    display: none;
  }
  aside li span {
    display: none;
  }
  .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    text-align: center;
  }
  .wrapper .price {
    flex-wrap: wrap;
  }
  .wrapper .price span {
    margin-top: 10px;
  }
}
.details {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  text-transform: capitalize;
}
.details h2 {
  font-size: 18px;
  margin-top: 10px;
}
.details p {
  font-size: 15px;
}
.details::before {
  content: "10/21/2024";
  position: absolute;
  right: 10px;
  top: 10px;
  color: grey;
}
.details p {
  margin-bottom: 60px;
}
.details .team {
  border-bottom: 1px solid #ccc;
}
.details img {
  width: 40px;
  border-radius: 50%;
  background-color: white;
  padding: 4px;
  margin: 10px 0;
}
.details img:not(:first-child) {
  margin-left: -20px;
}
.details .info {
  display: block;
  width: fit-content;
  margin: 15px 15px 15px auto;
}
.details .info span {
  background-color: #e8e8e8;
  padding: 4px 10px;
  border-radius: 5px;
}
.price span {
  color: grey;
}
.price {
  padding-top: 16px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prog-red {
  background-color: #ddd;
  width: 257.25px;
  height: 6px;
  border-radius: 5px;
  position: relative;
}
.prog-red::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 6px;
  background-color: var(--color-youtube);
  border-radius: 5px;
}
.prog-green {
  background-color: #ddd;
  width: 257.25px;
  height: 6px;
  border-radius: 5px;
  position: relative;
}
.prog-green::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 6px;
  background-color: var(--color-3);
  border-radius: 5px;
}
.prog-blue {
  background-color: #ddd;
  width: 257.25px;
  height: 6px;
  border-radius: 5px;
  position: relative;
}
.prog-blue::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 6px;
  background-color: var(--color-1);
  border-radius: 5px;
}
